/*
CUSTOM STYLE
*/
.activity-box{
	min-height: 245px !important;
}
.style-eight{
	padding-top: 5px;
}
a.bitly{
	color: #00ffe9;
}
a.bitly:hover{
	color: #ffffff;
}
.widget-carlos-social-icons ul li a.fb:hover {
    background: #0066cc;
    color: #ffffff;
}
.widget-carlos-social-icons ul li a.tw:hover {
    background: #80bfff;
    color: #ffffff;
}
.widget-carlos-social-icons ul li a.yt:hover {
    background: #ff1a1a;
    color: #ffffff;
}
.widget-carlos-social-icons ul li a.ig:hover {
    background: #c68c53;
    color: #ffffff;
}
.history p{
    text-align: justify !important;
}
.gallery img{
    height: 195px !important;
}
.video video{
    width:100%; 
 }
 p.featp{
    font-size: 24px !important;
 }
 .donation{
    background-color: #73ecf9;
 }
 .flex-row .jetblackbg,.flex-row .blackbg{
    max-height: 400px;
 }
 .join-us{
    background-color: #0ee9ff;
    border-bottom: 10px solid #1fafbd;
 }
 p.join-p{
    font-size: 15px;
 }
 .donation{
    background-color: rgb(14, 255, 144);
    border-bottom: 10px solid #1ebb73;
 }
 p.acti-p,p.acti-p a{
    font-size: 20px !important;
 }
 .activity{
    background-color: #ffc0cb;
    border-bottom: 10px solid #d49ba5;
 }
 .activity1{
    background-color: #feffc0;
    border-bottom: 10px solid #cfd093;
 }
 .activity2{
    background-color: #c0fff9;
    border-bottom: 10px solid #a3e6e0;
 }
td.img-adik img{
    width: 150px !important;
    height: 150px !important;
}
.items{
    height: 350px;
    background-color: red;
    margin-top: 2%;
}
.the-sidebar p{
    font-size: 20px !important;
    font-weight: bold !important;
    float: left;
}
.cat-list{
    height:auto;
    border-bottom: solid 3px grey;
    border-left: solid 3px grey;
    border-right: solid 3px grey;
}
.cat-list ul li{
    list-style-type: none;
    font-size: 16px;
    text-align: left;
}
.cat-title{
    background-color: blue;
    height: 50px;
}
.cat-title p{
    padding-left: 2%;
}
.isi a p,.isi a b{
    color: black !important;
}
.testimonial p{
    text-align: center;
}
.pagination {
	margin-top: 120px;
	text-align: center;
}
/* SOUVENIR STYLE
=============================
*/
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
} 
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}
.souvenir-container {
	padding: 0;
	margin: 0;
}
.souvenir-container li{
	list-style: none;
}
.transition{
	transition: all .15s cubic-bezier(.26,1.01,.6,.59);
}
.product-info, .product-img {
	margin: 0 auto;
	width: 100%;
	transition: all .15s cubic-bezier(.26,1.01,.6,.59);
	transition-delay: .1s;
}
.product-info {
	background: #48D1CC;
	padding: 10px 20px;
	height: 100px;
	color: #FFFFFF;
	padding-bottom: 15px;
	margin-top: -10px;
	position: relative;
}
.item-container {
	width: 260px;
	margin: 0 auto;
	position: relative;
}
.product-info p{
	margin-bottom: 0;
}
.product-info .desc{
	white-space: nowrap;
	overflow:hidden;
	text-overflow: ellipsis;
}
.product-img {
	height: 320px;
	background-repeat:no-repeat;
    background-size:contain;
	background-position: center;
}
.product-img-inner {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0, 250, 154, .3);
	top: 0;
	visibility: hidden;
	opacity: 0;
}
.product-img-inner button{
	margin-top: 90%;
	transition-delay: .2s;
}

/* Hover effect */
.item-container.hovered {
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
	border-radius: 5px;
}
.hovered .product-img{
	width: 95%;
}
.hovered .product-info{
	margin-top: -90px;
	height: 180px;
	padding-top: 20px;
	border-radius: 0 0 4px 4px;
}
.hovered .product-info .desc{
	white-space: normal;
	overflow:show;
}
.hovered .product-img-inner {
	visibility: visible;
	opacity: 1;
	border-radius: 4px 4px 0 0;
}
.hovered .product-img-inner button{
	margin-top: 50%;
}
/* ENDS SOUVENIR STYLE
=============================
*/
@media screen and (min-width:1024px){
    .col-mde-3{
        width: 30% !important;
        margin-left: 3%;
    }
}
@media screen and (max-width:768px){
    .detail{
        float: none !important;
    }
}
@media screen and (max-width: 414px){
     .the-items{
        margin-bottom:5%; 
    }
    .buy-button{
        margin-bottom: 3%;
    }
}
/* ORDER PAGE*/
.order input,.order textarea{
    width: 100%;
    margin-bottom: 3%;
}
.order input:focus{
    box-shadow: 0px 0px 8px blue;
}
.order input::-webkit-input-placeholder { /* Chrome */
  padding-left: 2%;
}
.order input:-ms-input-placeholder { /* IE 10+ */
  padding-left: 2%;
}
.order input::-moz-placeholder { /* Firefox 19+ */
  opacity: 1;
  padding-left: 2%;
}
.order input:-moz-placeholder { /* Firefox 4 - 18 */
  opacity: 1;
  padding-left: 2%;
}
.order textarea:focus{
    box-shadow: 0px 0px 8px blue;
}
.order textarea::-webkit-input-placeholder { /* Chrome */
  padding-left: 2%;
}
.order textarea:-ms-input-placeholder { /* IE 10+ */
  padding-left: 2%;
}
.order textarea::-moz-placeholder { /* Firefox 19+ */
  opacity: 1;
  padding-left: 2%;
}
.order textarea:-moz-placeholder { /* Firefox 4 - 18 */
  opacity: 1;
  padding-left: 2%;
}
/*END ORDER PAGE*/