input[type="submit"]{cursor: pointer}
strong{font-weight: bold}
.bg {color: #63364B; padding: 10px 0; border-radius: 100px; opacity: .8;}
.bg-success {background: #9ECA85!important}
.p-t-15 {padding-top: 15px;}
.radio input[type="radio"], .checkbox input[type="checkbox"] {
    margin-left: 0px !important; 
    opacity: 1 !important;
    margin-top: -1%;
}
#tabel_kas_filter{
	display: none;
}
#header{
	background-color: #2e363f;
}
table tr:hover{
	color: #000000 !important;
	font-weight: bold !important;
}
td.img-adik img{
	width: 150px !important;
	height: 150px !important;
}
#mceu_44{
	display: none;
}
.status-upload {
	border-left: 1px solid #ddd
}
.status-upload p:not(.bg){
	margin-bottom: 0;
}
.status-upload img{
	margin-bottom: 30px;
}